.isDark{
    background-color: #202d36;
    color: white;
    nav {
        background-color: #2b3743;
        a {
            color: white;
        }
    }
    .form-check-input{
        font-size: 20px;
    }
    .form-floating{
        label{
            color: black;
        }
    }
}