.isWhite{
    background-color: white;
    color:black;
    nav {
        background-color: #f1f0f0;
        a {
            color: black;
        }
    }
    .form-check-input{
        font-size: 20px;
    }
}